body {
    padding-top: 50px;
}

div#container {
    position: relative;
    margin: 0 auto;
    width: 470px;
    text-align: center;
}

.canvas {
    margin-top: 20px;
    float: left;
    position: relative;
    display: inline;
}